.vscode/
Exercise-2021-06-23/__pycache__/
Exercise-2021-06-23/.pytest_cache/
Exercise-2021-06-23/draft
Exercise-2021-06-23/htmlcov/
Exercise-2021-06-23/.coverage
day_5/draft
day_5/__pycache__/
day-7/ADF/ADF/.env
day-7/ADF/ADF/__pycache__/
day-7/ADF/FirstAPP/__pycache__/
day-7/ADF/FirstAPP/migrations/__pycache__/
day-7/ADF/htmlcov/